# Mac stuff
.DS_Store

# Sublime sftp config
sftp-config.json

# Folders
/create/
/data-raw/

#
/.Rproj.user/

tests/testthat/Rplots.pdf
*.pptx

/tests/quantify_edits/

/tests/testthat/integration_test_1/
/tests/quantify_edits_1_6_1
